{{.form.InvalidFields}}
<form method="post">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" value="{{.form.Title}}">
  <div>
    <label for="category">Choose a Category:</label>
    <select id="category" name="category" class="browser-default">
      {{ if not .form.Category}}<option value="" disabled selected>No Category selected</option>{{end}}
      {{ range .Categories }}
      <option value="{{.Id}}" {{if eq .Id $.form.Category}}selected{{end}}>{{.Name}}</option>
      {{ end }}
    </select>
  </div>
  <i class="material-icons prefix">mode_edit</i>
  <label for="content">Content</label>
  <textarea name="content" id="content" rows="10" cols="80">
                {{.form.Content}}
          </textarea>
  <script type="text/javascript">
    $(document).ready(function () {
      CKEDITOR.replace("content");
    });
  </script>
  <label for="topic-tags">Topic tags</label>
  <input type="text" id="topic-tags" name="topic-tags" value="{{.form.TopicTags}}">
  <div class="switch">
    Comments:
    <label>
      Off
      <input type="checkbox" name="allow-comments" {{if .form.AllowComments}}checked{{end}}>
      <span class="lever"></span>
      On
    </label>
    Reviews:
    <label>
      Off
      <input type="checkbox" name="allow-reviews" {{if .form.AllowReviews}}checked{{end}}>
      <span class="lever"></span>
      On
    </label>
  </div>
  <label for="tagged-users">Tag Friends</label>
  <input type="text" id="tagged-users" name="tagged-users" value="{{.form.TaggedUsers}}">
  <button type="submit">Save Article</button>
</form>
