<h1>Register</h1>
  <div class="row">
    <form class="col s12" method="post" action="/register">
      <div class="row">
        <div class="input-field col s4">
          <input id="name" name="name" type="text" class="validate" value="{{.form.Name}}">
          <label class="active" for="name">First Name</label>
        </div>
        <div class="input-field col s4">
          <label for="gender" class="active">Select Gender:</label>
          <select id="gender" name="gender" class="browser-default">
            <option value="0">Female</option>
            <option value="1" {{if .form.Gender}}selected{{end}}>Male</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input  id="username" name="username" type="text" class="validate" value="{{.form.Username}}">
          <label class="active" for="username">User Name</label>
        </div>
        <div class="input-field col s4">
          <input id="email" type="email" name="email" class="validate" value="{{.form.Email}}">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s4">
          <input id="passwordre" name="passwordre" type="password" class="validate">
          <label for="passwordre">Retype Password</label>
        </div>
      </div>
      <button type="submit">Register</button>
    </form>
  </div>
