<h3>Welcome to your account: {{.user.Profile.Name}}</h3>
<h4>your username is " {{.user.Username}}" you user id is: " {{.user.Id}} "</h4>
<div class="col s12">
  <div class="row">
    <div class="col s4">
      <div class="card">
        <div class="card-image">
          <img src="/static/{{.Theme}}/{{.Style}}/img/avatar/{{.user.Profile.Avatar}}-medium.jpg">
          <span class="card-title">{{.user.Profile.Name}}</span>
        </div>
        <div class="card-content">
          <p>{{.user.Profile.Description}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s4">
      <ul>
        <li>
          Publish New Article
        </li>
        <li>
          Friends
        </li>
        <li>
          Apps
        </li>
      </ul>
    </div>
    <div class="col s4">
      Memu 2
    </div>
  </div>
</div>
