<!DOCTYPE html>
<html>
  <head>
	<title>your account</title>
    
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {{.Head}}

    <!-- Generic css -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">

    {{.Styles}}

  </head>

  <body>
  
  

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <li class="divider"></li>
  <li><a href="#!">Panel</a></li>
  <li><a href="#!">Logout</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="/#!" class="brand-logo">Golang-CMS</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#!">Documentation</a></li>
      <li><a href="#!">Downloads</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
        
        
  
    <div class="container">
      <main-menu elements="{{.menu_elements}}"></main-menu>
      <div id="{{.device_type}}-header-content"></div>
      {{.LayoutContent}}
    </div>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Help Golang CMS Grow</h5>
            <p class="grey-text text-lighten-4">We hope you have enjoyed using Golang CMS! If you feel Golang CMS has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.</p>
            <form id="paypal-donate" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="encrypted">
              <button class="btn waves-effect waves-light red lighten-3" type="submit" name="action" alt="PayPal - The safer, easier way to pay online!">Donate Now
              </button>
            </form>

          </div>
          <div class="col l4 s12">
            <h5 class="white-text">Join the Discussion</h5>
            <p class="grey-text text-lighten-4">We have a Gitter chat room set up where you can talk directly with us. Come in and discuss new features, future goals, general problems or questions, or anything else you can think of.</p>
            <a class="btn waves-effect waves-light red lighten-3" target="_blank" href="https://gitter.im/dionyself/golangcms">Chat</a>
          </div>
          <div class="col l4 s12" style="overflow: hidden;">
            <h5 class="white-text">Connect</h5>
            <iframe src="http://ghbtns.com/github-btn.html?user=dionyself&repo=golang-cms&type=watch&count=true&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30"></iframe>
            <br>
            <a href="https://twitter.com/dionyself" class="twitter-follow-button" data-show-count="true" data-size="large" data-dnt="true">Follow @GolangCMS</a>
            <br>
            <div class="g-follow" data-annotation="bubble" data-height="24" data-href="https://plus.google.com/u/0/+DionysRosario" data-rel="publisher"></div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2015-2016 Golang-CMS, All rights reserved.
        <a class="grey-text text-lighten-4 right" href="https://github.com/dionyself/golang-cms/blob/master/LICENSE">BSD License</a>
        </div>
      </div>
    </footer>
    <!-- js on footer -->
    {{.Scripts}}
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $(".dropdown-button").dropdown();
            $(".button-collapse").sideNav();
        });
    </script>
  </body>
</html>
