<!DOCTYPE html>
<html>
  <head>
	<title>your account</title>
    
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="cleartype" content="on">

    {{.Head}}

    <!-- Generic css -->

    {{.Styles}}

  </head>

  <body>
    <div id="main_container">
      <main-menu elements="{{.menu_elements}}"></main-menu>
      <div id="{{.device_type}}-header-content"></div>
      {{.LayoutContent}}
    </div>

    <!-- js on footer -->
    {{.Scripts}}
  </body>
</html>
