<h1>Register</h1>
  <div class="row">
    <form class="col s12" method="post" action="/register">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Placeholder" id="first_name" type="text" class="validate">
          <label class="active" for="first_name">First Name</label>
        </div>
        <div class="input-field col s4">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
        <div class="input-field col s4">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Placeholder" id="username" name="username" type="text" class="validate">
          <label class="active" for="username">User Name</label>
        </div>
        <div class="input-field col s4">
          <input id="password" name="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col s4">
          <input id="passwordre" name="passwordre" type="password" class="validate">
          <label for="passwordre">Retype Password</label>
        </div>
      </div>
      <div class="row">
          <button type="submit">Register</button>
      </div>
    </form>
  </div>
